/********** RESET ************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 16%, rgba(217,219,211,1) 16%);
    font-family: 'Roboto', sans-serif;
    height: calc(100vh - 20px);
}

[v-cloak] {
    display: none;
}

/********** COMMON ************/

ul li {
    list-style-type: none;
}

button, i {
    cursor: pointer;
}

.profile_img img,
.profile_img_circle img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

/********** HEADERS ************/

/* Contacts header  */

.user_acc,
.user_chat,
.text_send  {
    display: flex;
}

.user_acc .profile_ctn {
    width: 25%;
}

.user_chat .profile_img,
.user_acc .profile_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.user_chat .acc_icons,
.user_acc .acc_icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
}

.user_chat .acc_icons i ,
.user_acc .acc_icons i {
    color: #b1b1b1;
    padding: 0 10px ;
    font-size: 1.3rem;
}

.search_ctn {
    height: 140px;
    background-color: #f3eeea;
} 

.contact_ctn {
    height: calc(90% - 210px);;
}

.contact_ctn > ul {
    height: 100%;
    overflow-y: scroll;
}

.contact_info {
    height: calc(100% / 7);
}

.contact_info:hover {
    background-color: #e9ebeb;
    cursor: pointer;
}

.profile_ctn {
    width: 20%;
}

.profile_info {
    padding: 10px;
    width: 80%;
    color: #4a4b46;
    font-weight: 500;
}

.profile_info small {
    color: darkgray;
}

.profile_img_circle {
    background-color: darkcyan;
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.profile_msg_time {
    font-size: 0.9rem;
    padding: 10px;
    color: darkgray;
    font-weight: 500;
}

.search_top {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.bell_ctn,
.bell_circle,
.contact_info,
.profile_ctn,
.emojis_ctn,
.audio,
.text_field  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell_ctn,
.user_acc .profile_ctn,
.user_acc .acc_icons,
.profile_ctn,
.profile_info,
.profile_msg_time  {
    height: 100%;
}

.bell_ctn {
    width: 20%;
}

.bell_circle {
    background-color: #f2fbff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.bell_circle i {
    font-size: 1.2rem;
    color: #8ddafc;
}

.alert_ctn {
    width: 80%;
    background-color: #8edafc;
    color: #4a4b46;
}

.alert_ctn span {
    font-weight: 500;
}

.alert_ctn small {
    font-weight: 400;
    text-decoration: underline;
}

.search_bottom {
    height: calc(100% - 80px);
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar {
    font-weight: bold;
    color: #000;
    width: 85%;
    padding: 8px;
    border: 0;
    border-radius: 0px 8px 8px 0px;
}

#search-bar:focus {
    outline: none;
}

.search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    color: darkgray;
    width: 10%;
    padding: 9px;
    border: 0;
    border-right: 1px solid #e9ebeb;
    border-radius: 8px 0px 0px 8px;
}

.search_btn:hover {
    background-color: #e9ebeb;
}

/* Chat header  */
.user_chat .profile_ctn {
    padding-left: 8px;
    justify-content: start;
    width: 30%;
}

.user_chat .profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_chat .acc_icons {
    width: 70%;
}

.user_chat .acc_icons i {
    padding: 0 12px ;
}
/********** MAIN ************/

.main-ctn {
    display: flex;
    max-width: 80%;
    height: 95vh;
    margin: 20px auto 0;
    z-index: 10;
}

.main-ctn .app_left, 
.main-ctn .app_right {
    height: 100%;
}

.main-ctn .app_left {
    background-color: #ffffff;
    width: 30%;
}

.main-ctn .app_right {
    width: 70%;
}

.user_chat,
.user_acc,
.text_send {
    height: 70px;
    background-color: #eaeaea;
}

/********** CHAT MAIN ************/
.msg_box {
    background-image: url(../images/mine.jpg);
    height: calc(100% - 140px);
    padding: 80px;
    overflow-y: scroll;
}

.msg {
    width: 100%;
    display: grid;
}

.msg_sent,
.msg_received {
    height: 60px;
    width: 35%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.msg_sent.sent {
    background-color: #d5f9b9;
    justify-self: end;
}

.msg_sent.received {
    justify-self: start;
    background-color: #ffff;
}

.msg_content {
    display: flex;
    align-items: center;
    padding: 20px 0 0 10px;
    height: 30px;
}

.msg_time {
    height: 10px;
    text-align: end;
    font-size: 0.8rem;
    color: lightgray;
    font-weight: 500;
    padding: 12px 5px 5px 0;
}



/********** CHAT FOOTER ************/
.emojis_ctn,
.audio,
.text_field {
    height: 100%;
}

.emojis_ctn,
.audio {
    width: 10%;
}

.emojis_ctn i,
.audio i {
    color: #6b7375;
    font-size: 1.5rem;
}

.text_field {
    width: 80%;
}

#send_msg {
    font-weight: bold;
    color: #000;
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 8px;
}

#send_msg:focus {
    outline: none;
}

/********** MEDIA QUERIES ************/